/* MAIN */
@media screen and (max-width: 600px) {	
	#myNavbar {
		padding: 0em;
		min-height: 60px;
	}
	
	#titleDiv {
		max-width: 40vw;
	}
	
	#titleIcon {
		width: 100%;
	}
	
	#toggleIcon {
		width: 7vw;
	}
	
	.navItem {
		border-bottom: .5px solid #2c2321;
	}
	
	.navLink {
		font-size: 4vw;
		margin-top: .5em;
		padding: 2vw 0;
	}
	
	.navLinkActive {
		font-size: 4vw;
		margin-top: .5em;
		padding: 2vw 0;
	}

	.navbar-nav {
		padding-bottom: .5em;
	}

	#headText {
		font-size: 5vw;
	}
	
	#subText {
		font-size: 3vw;
	}
	
	#midcolor {
		padding: 1.5em;
	}
	
	#footWrapper {
		padding: .5em;
	}
	
	#linkedLogo {
		width: 50%;
	}
	
	hr.line1 {
			margin-bottom: 10px;
	}
}

/* ABOUT */
@media screen and (max-width: 600px) {
	#selfPortrait {
		display: none;
	}
	
	#abtHead {
		font-size: 6vw;
	}
	
	#paraAbout {
		font-size: 4vw;
	}
	
	#textColmMobile {
		display: block;
	}
	
	.connectRow {
		display: none;
	}

	#socialmediaRow {
		display: none;
	}
	
	.aboutCarousel {
		display: none;
	}
	
	#logoimgs {
		width: 40%;
	}
	
	#socialTxt {
		font-size: 3vw;
	}
}

/* ANIMATION */
@media screen and (max-width: 600px) {
	#reelRow {
		margin-top: 0em;
	}
	
	#descriptDiv {
		margin-top: .5em;
	}
}

/* BRAND DESIGN */
@media screen and (max-width: 600px) {
	.midcolorDiv {
		padding: 1em;
		padding-top: .5em;
	}
	
	#midcolorTitle {
		padding: 1em;
		padding-bottom: .5em;
	}
	
	#dropdownBtn {
		font-size: 5vw;
	}
	
	#dropdownContent {
		font-size: 4.3vw;
	}
	
	#headerRow {
		padding-bottom: .5em;
	}
}

/* DIGITAL PORTRAITS */
@media screen and (max-width: 600px) {
	#firstImg {
		padding: 5px;
	}
	
	#carvingDiv {
		margin-top: 0em;
	}
	
	#digitalmainText {
		font-size: 4vw;
	}
	
	hr.line2 {
		margin-bottom: .5em;
	}
	
	#showBtn {
		font-size: 3vw;
		padding: 5px 15px;
	}
}

/* LOGO DESIGNS */
@media screen and (max-width: 600px) {
	#logoheaderText {
		font-size: 5.5vw;
	}
	
	.targetDiv {
		padding: .8em;
		padding-top: 0em;
	}
	
	#descripRow {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	#finalLogo {
		margin-bottom: 1em;
	}
	
	#waifuColor {
		margin-bottom: 2em;
	}
	
	#apprenticeColor {
		margin-bottom: 1em;
	}
	
	#colorpalette {
		margin-bottom: 1em;
	}
}


/* INDEX */
@media screen and (max-width: 600px) {
	#mainText {
		font-size: 4vw;
	}
	
	#mybutton {
		font-size: 5vw;
	}
	
	.digitalSlides {
		width: 100%;
	}
	
	#buttcont {
		margin-bottom: .5em;
	}
	
	.carousel-control-prev-icon {
		margin-left: 2em;
		width: 2em;
		height: 2em;
	}
	
	.carousel-control-next-icon {
		margin-right: 2em;
		width: 2em;
		height: 2em;
	}
	
	.carousel-indicators {
		margin-bottom: .1em;
	}
	
	#slideCont {
		padding: 0em;
	}
	
	#logoRow {
		margin-top: 3em;
	}
	
	#logoImg {
		width: 95%;
	}
	
	#webRow {
		margin-top: 3em;
	}
	
	#bigbutton {
		font-size: 6vw;
		padding-right: 2em;
		padding-left: 2em;
	}
	
	#designTitle {
		display: none;
	}
	
	#designTitleMobile {
		display: block;
		width: 95%;
		margin-bottom: 2em;
	}
	
}

/* RESUME */
@media screen and (max-width: 600px) {
	#midcolorResume {
		padding: 0em;
		padding-top: 2em;
		padding-bottom: 30px;
	}
	
	#resumeFrame {
		width: 100%;
		padding: 0em;
	}
	
	#resumePdf {
		height: 400px;
		width: 300px;
	}
}

/* VIDEO EDITING */
@media screen and (max-width: 600px) {
	#headerText {
		font-size: 5.5vw;
	}
	
	#subheaderText {
		font-size: 4.5vw;
	}
	
	#descriptText {
		font-size: 4vw;
		margin-bottom: .5em;
	}
	
	#midcolorVideo {
		padding: .5em;
		padding-right: 1.5em;
		padding-left: 1.5em;
	}
	
	#orphiriaVid {
		padding: 0em;
	}
	
	#videoRow {
		margin-top: 0em;
	}
}



