:root {
	--primary-color: #D8D5D0;
	--secondary-color: #D0C2A7;
	--tertiary-color: #6A766C;
	--accent-color: #2F3130;
}

html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
	font-family: halyard-display, sans-serif;
	font-style: normal;
}

a:hover {
    transition: .7s;
    text-decoration: none;
    color: var(--accent-color);
}

/* HEADER / NAVIGATION */
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    margin: 0 60px 40px 60px;
}

header h1 a {
	font-size: 64px;
	font-weight: 500px;
    color: var(--tertiary-color);
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
	list-style: none;
    margin-top: 15px;
}

header nav ul li a {
    color: var(--tertiary-color);
    font-size: 28px;
    margin: 20px;
}

/* FOOTER */
footer {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 60px 10px 60px;
}

footer h3 {
    color: var(--secondary-color);
    font-size: 36px;
}

footer a {
    color: var(--primary-color);
    font-size: 24px;
}

/* BODY */
section {
    background-color: var(--secondary-color);
    position: relative;
	display: flex;
    margin: 0 60px 80px 60px;
}

section article {
    background-color: var(--primary-color);
    position: absolute;
    padding: 10px 30px 20px 40px;
    margin-top: 50px;
    flex: 1;
    top: 0;
    z-index: 9999;
}

section .right {
    right: 0;
}

section a {
    font-size: 56px;
    color: var(--tertiary-color);
    text-decoration: none;
}

section p {
    font-size: 18px;
    color: var(--accent-color)
}

img {
    width: 100%;
    opacity: .7;
    object-fit: cover;
    transition: .6s;
}

img:hover {
    opacity: 1;
}
