:root {
	--primary-color: #D8D5D0;
	--secondary-color: #D0C2A7;
	--tertiary-color: #6A766C;
	--accent-color: #2F3130;
}

html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
	font-family: halyard-display, sans-serif;
	font-style: normal;
}

a {
    transition: .7s ease;
}

a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
}

/* HEADER / NAVIGATION */
header {
    background-color: var(--accent-color);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    padding: 0 300px 0 300px;
}

header h1 a {
	font-size: 28px;
	font-weight: 500px;
    color: var(--secondary-color);
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
	list-style: none;
    margin-top: 15px;
}

header nav ul li a {
    color: var(--secondary-color);
    font-size: 28px;
    padding: 20px;
}

/* FOOTER */
footer {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 60px 10px 60px;
}

footer h3 {
    color: var(--secondary-color);
    font-size: 36px;
}

footer a {
    color: var(--primary-color);
    font-size: 24px;
}

/* BODY */
section {
	position: relative;
	display: flex;
    flex-direction: row;
    margin: 0 300px 50px 300px;
}

img {
	width: 100%;
}

.hero {
    background-color: var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 50px 0 !important;
    padding: 25px 300px 50px 300px;
}

.hero h1 {
    color: var(--secondary-color);
    font-size: 64px;
    width: 100%;
}

.hero h2 {
    color: var(--secondary-color);
    font-size: 3.3em;
    width: 90%;
}

.hero h4 {
    color: var(--tertiary-color);
    font-size: 2em;
    width: 80%;
    margin-bottom: 20px;
}

.index {
    background-color: var(--secondary-color);
}

section article {
    background-color: var(--primary-color);
    position: absolute;
    padding: 10px 30px 20px 30px;
    margin-top: 50px;
    flex: 1;
    top: 0;
    z-index: 9999;
}

section .right {
    right: 0;
    text-align: right;
    padding: 10px 30px 20px 30px;
}

.index a {
    font-size: 56px;
    color: var(--tertiary-color);
    text-decoration: none;
    width: 100%;
    height: 700px;
}

section p {
    font-size: 18px;
    color: var(--accent-color)
}

.index img,
.index video {
    height: 700px;
    object-fit: cover;
    opacity: .7;
    transition: .6s ease;
}

.index img:hover,
.index video:hover {
    opacity: 1;
}

/* ABOUT SECTION - HOMEPAGE */
#about {
    justify-content: space-around;
    margin: 0 300px 10px 300; 
}

#about a {
    color: var(--accent-color);
    font-size: 48px;
    height: auto;
}

#about a:hover {
    color: var(--secondary-color);
}

/* BRANDDESIGN.HTML */
.main-title,
.show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-title {
    background-color: var(--accent-color) !important;
    background-color: var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 !important;
    padding: 25px 100px 0 100px;
}

.main-title h2 {
    color: var(--secondary-color);
    font-size: 86px;
    margin: 64px;
    padding-bottom: 60px;
}

.main-title div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.main-title button {
    justify-content: center;
    margin: 0 10px;
    font-size: 42px;
    padding: 0 25px;
    border: none;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border-radius: 10px 10px 0 0;
}

.main-title button:active {
    outline: none;
}

.main-title div .active {
    color: var(--accent-color);
    background-color: var(--primary-color);
    outline: none;
}

.hide {
    display: none !important;
}

.show img {
    opacity: 1;
    width: 100%;
    height: 100%;
    display: block;
}

.show p {
    font-size: 36px;
    padding: 35px 0;
    color: var(--tertiary-color);
}

.show p a {
    color: var(--accent-color);
    font-size: 36px;
    transition: .5s ease;
}

.show p a:hover {
    color: var(--secondary-color);
}

/* ART */
section h3 {
    font-size: 48px;
    padding: 50px 0;
    width: 100%;
    text-align: center;
}

.preview video {
    margin: auto;
    width: 70%;
    padding-bottom: 50px;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.preview img {
    width: 30%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
    padding-bottom: 60px;
}

.preview video {
    width: 80%;
}