:root {
	--primary-color: #D8D5D0;
	--secondary-color: #D0C2A7;
	--tertiary-color: #6A766C;
	--accent-color: #2F3130;
}

html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
	font-family: halyard-display, sans-serif;
	font-style: normal;
}

a {
    transition: .7s ease;
}

a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
}

/* HEADER / NAVIGATION */
header {
    background-color: var(--accent-color);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    padding: 0 300px 0 300px;
}

header h1 a {
	font-size: 28px;
	font-weight: 500px;
    color: var(--secondary-color);
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
	list-style: none;
    margin-top: 15px;
}

header nav ul li a {
    color: var(--secondary-color);
    font-size: 28px;
    padding: 20px;
}

/* FOOTER */
footer {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 60px 10px 60px;
}

footer h3 {
    color: var(--secondary-color);
    font-size: 36px;
}

footer a {
    color: var(--primary-color);
    font-size: 24px;
}

/* BODY */
.hero {
    background-color: var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 25px 300px 50px 300px;
}

.hero h1 {
    color: var(--secondary-color);
    font-size: 64px;
    width: 100%;
}

.hero h2 {
    color: var(--secondary-color);
    font-size: 3.3em;
    width: 90%;
}

.hero h3 {
    color: var(--tertiary-color);
    font-size: 2em;
    width: 80%;
    margin-bottom: 20px;
}

section:not(:first-of-type) {
    background-color: var(--secondary-color);
    position: relative;
	display: flex;
    flex-direction: row;
    margin: 0 300px 50px 300px;
}

section article {
    background-color: var(--primary-color);
    position: absolute;
    padding: 10px 30px 20px 30px;
    margin-top: 50px;
    flex: 1;
    top: 0;
    z-index: 9999;
}

section .right {
    right: 0;
    text-align: right;
    padding: 10px 30px 20px 30px;
}

section a {
    font-size: 56px;
    color: var(--tertiary-color);
    text-decoration: none;
    width: 100%;
    height: 700px;
}

section p {
    font-size: 18px;
    color: var(--accent-color)
}

section img,
section video {
    width: 100%;
    height: 700px;
    object-fit: cover;
    opacity: .7;
    transition: .6s ease;
}

section img:hover,
section video:hover {
    opacity: 1;
}

/* ABOUT SECTION - HOMEPAGE */
#about {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 300px 10px 300; 
}

#about a {
    color: var(--accent-color);
    font-size: 48px;
    height: auto;
}

#about a:hover {
    color: var(--secondary-color);
}

/* BRANDDESIGN.HTML */
.design,
.show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.design {
    background-color: var(--accent-color) !important;
}

.show {
    background-color: var(--primary-color) !important;
}

.design h2 {
    color: var(--secondary-color);
    font-size: 86px;
    margin: 64px;
    padding-bottom: 60px;
}

.design div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.design button {
    justify-content: center;
    margin: 0 10px;
    font-size: 36px;
    padding: 0 25px;
    border: none;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border-radius: 10px 10px 0 0;
}

.design button:active {
    outline: none;
}

.design div .active {
    color: var(--accent-color);
    background-color: var(--primary-color);
    outline: none;
}

.hide {
    display: none !important;
}

.show img {
    opacity: 1;
    width: 100%;
    height: 100%;
    display: block;
}

.show p {
    font-size: 36px;
    padding: 35px 0;
    color: var(--tertiary-color);
}

.show p a {
    font-size: 36px;
    transition: .5s ease;
}

.show p a:hover {
    color: var(--secondary-color);
}



/* NOT FIXED */
/* MAIN PAGE */
/* Button "Digital Portraits" */
#buttcont {
	margin: auto;
	margin-bottom: 50px;
	display: block;
}

#mybutton {
	background-color: var(--primary-color);
	color: var(--tertiary-color);
	border: none;
	font-size: 3vw;
	margin: auto;
	display: block;
	padding: 0px;
	padding-right: 30px;
	padding-left: 30px;
	transition: all ease 1s;
}

#mybutton:hover {
	/* box-shadow: inset 500px 0 0 0 var(--tertiary-color); */
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}

/* Slideshow */
#slideCont {
	max-width: 1300px;
}

#slides {
	color: black;
	background-color: black;
}

/* Overlay */
#overDiv {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 1.5s ease;
	margin: auto;
}

.container:hover #overDiv {
	opacity: 1;
}

#overTxt {
	color: var(--tertiary-color);
	position: absolute;
	font-size: 3.5vw;
}


/* Slideshow Images */
#caroImg {
	width: 50%;
	display: block;
	margin: auto;
}
#caroImgWicked {
	width: 32%;
	display: block;
	margin: auto;
}

#caroImgRaven {
	width: 52.5%;
	display: block;
	margin: auto;
}

#caroImgCarving {
	width: 78%;
	display: block;
	margin: auto;
}

#caroImgLeshen {
	width: 31.25%;
	display: block;
	margin: auto;
}

/* Slideshow Controls */
.carousel-control-prev {
    left: 0;
    padding-right: 4em;
}

.carousel-control-next {
	padding-left: 4em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: solid yellow;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 3vw;
  color: var(--tertiary-color);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3vw;
  color: var(--tertiary-color);
}

#logoCont {
	margin: 5em;
}

/* Design */
#designSection {
	margin: auto;
	display: flex;
}

#designTitle {
	width: 90%;
	margin-bottom: 3em;
}

#designTitleMobile {
	display: none;
}

#titleText {
	color: var(--accent-color);
	font-size: 4vw;
}

#designLine {
	max-height: 3px;
	margin-top: 3.5em;
	margin-right: 2em;
	margin-left: 2em;
	width: 40%;
}

#mainText {
	color: var(--accent-color);
	font-size: 2vw;
}

#mainText em {
	color: var(--tertiary-color);
	font-style: normal;
}

#brandRow {
	margin: auto;
	display: flex;
}

#brandImg {
	margin-left: 2em;
	margin-right: 0em;
	margin: auto;
	display: flex;
}

#kiwiPreview {
	width: 100%;
	margin: auto;
	display: flex;
}

#logoRow {
	margin-top: 3em;
	display: flex;
}

#waifuPreview {
	width: 90%;
	margin: auto;
	display: flex;
}

#webRow {
	margin-top: 3em;
}

#webImg {
	margin-left: 5em;
	margin: auto;
	display: flex;
}

#webPreview {
	width: 100%;
	margin: auto;
	display: flex;
}

/* Animation | Video Editing */
#animationRow {
	margin: auto;
	display: block;
}

#spiralGif {
	width: 95%;
	margin: auto;
	display: flex;
}

#vidPreview {
	width: 95%;
	margin: auto;
	display: flex;
}

#animDescript {
	margin: auto;
	display: flex;
}

#animPara {
	margin: auto;
	display: flex;
}

#descriptText {
	color: var(--accent-color);
	font-size: 2vw;
}

#descriptText em {
	color: var(--tertiary-color);
	font-style: normal;
}

/* About Me | Resume */
#bigbutton {
	background-color: var(--secondary-color);
	color: var(--accent-color);
	border: 1px solid;
	border-radius: 0rem;
	border-color: var(--tertiary-color);
	font-size: 4vw;
	margin: auto;
	display: block;
	padding: 0px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 60%;
	transition: all ease 2s;
	-webkit-transform: all ease 2s; 
	-moz-transition: all ease 2s
}

#bigbutton:hover {
	background-color: var(--tertiary-color);
}

#bigbutton:focus {
	background-color: var(--tertiary-color);
}

#midLine {
	color: var(--tertiary-color);
	font-size: 120px;
	margin: auto;
	display: block;
}


/* ANIMATION PAGE */
/* Body */
#headerRow {
	margin: auto;
	display: flex;
}

#headerText {
	color: var(--accent-color);
	font-size: 3.7vw;
	margin: auto;
	display: block;
}

#subheaderText {
	color: var(--tertiary-color);
	font-size: 3vw;
	margin: auto;
	display: block;
}

#reelRow {
	margin-top: 3em;
}

#descriptDiv {
	margin-top: 2em;
}

/* Slideshow Videos */
#orphiriaVid {
	margin: auto;
	display: block;
}

#caroImg {
	width: 50%;
	display: block;
	margin: auto;
}
#caroImgWicked {
	width: 32%;
	display: block;
	margin: auto;
}

#caroImgRaven {
	width: 52.5%;
	display: block;
	margin: auto;
}

#caroImgCarving {
	width: 78%;
	display: block;
	margin: auto;
}

#caroImgLeshen {
	width: 31.25%;
	display: block;
	margin: auto;
}

/* ABOUT ME PAGE */
/* About Me */
#selfPortrait {
	margin: auto;
	display: block;
}

#selfPort {
	width: 90%;
	border: 3px solid var(--tertiary-color);
}

.aboutCarousel {
    position: relative;
    width: 90%;
    margin-top: 40px;
    border: 3px solid var(--tertiary-color);
}

#nextFix {
    padding-left: 0em;
}

#prevFix {
	padding-left: 0em;
	padding-right: 3em;
}

#abtHead {
	color: var(--accent-color);
	font-size: 3vw;
	text-decoration: none;
}

#textColm {
	margin: auto;
	display: block;
}

#textColmMobile {
	margin: auto;
	display: none;
}

#paraAbout {
	color: var(--tertiary-color);
	font-size: 1.6vw;
	text-decoration: none;
}

#portraitImg {
	display: none;
}

/* Connect With Me */
#socialmediaRow {
	margin: auto;
	display: flex;
}

#socialmediaRowMobile {
	margin: auto;
	display: flex;
}

#socialmediaCol {
	margin: auto;
	display: block;
}

#logoimgs {
	width: 25%;
	margin: auto;
	display: flex;
}

#socialTxt {
	color: var(--tertiary-color);
	font-size: 2vw;
	text-decoration: none;
	text-align: center;
	margin: auto;
	display: block;
	padding-top: 1em;
}

/* BRAND DESIGN PAGE */
/* Body */
.midcolorDiv {
	background-color: var(--secondary-color);
	width: 90%;
	margin: auto;
	display: block;
	padding-right: 5em;
	padding-left: 5em;
}

/* Drop Down Stuff */

#dropdown {
	margin: auto;
	margin-left: 0;
	display: inline-block;
	position: relative;
}

#dropdownBtn {
	color: var(--tertiary-color);
	border: 1px solid var(--tertiary-color);
	background: none;
	font-size: 3vw;
	padding-right: 20px;
	padding-left: 20px;
	transition: 1.5s ease;
}

#dropdownBtn:hover {
	box-shadow: inset 500px 0 0 0 var(--tertiary-color);
	color: var(--accent-color);
}

#dropdownBtn:focus {
	outline: none;
}

#dropdownContent {
	display: none;
	position: absolute;
	font-size: 2vw;
	background-color: var(--accent-color);
	min-width: 3em;
	z-index: 1;
}

#dropdownContent a {
	color: var(--tertiary-color);
	text-decoration: none;
	padding: .2em;
	padding-right: 2.1em;
	display: block;
}

#ddLink:active {
	color: var(--primary-color);
	text-decoration: none;
}

#ddLink:hover {
	color: var(--tertiary-color);
	text-decoration: none;
}

#dropdownContent a:hover {
	color: var(--accent-color);
	background-color: var(--tertiary-color);
	transition: 1s ease;
}

#dropdown:hover #dropdownContent {
	display: block;
	transition: 1s ease;
}

/* Description Box */

.midcolor {
	background-color: var(--secondary-color);
	width: 90%;
	margin: auto;
	display: block;
	padding: 50px;
}

#headerRow {
	margin: auto;
	display: flex;
}

#headerText {
	color: var(--accent-color);
	font-size: 3.7vw;
	margin: auto;
	display: inline;
}

#headerText em {
	color: var(--tertiary-color);
	font-style: normal;
}

.showSingle {
	cursor: pointer;
}

#kiwiDirection {
	margin: auto;
	display: block;
}

#kiwiboardImage {
	width: 100%;
	margin: auto;
	display: block;
}

#waifuImage {
	width: 100%;
	margin: auto;
	display: block;
}

#dumbBtn:hover {
	text-decoration: none;
}

/* DIGITAL PORTRAITS PAGE */
/* Body */

hr.line2 {
	border: 1px solid var(--tertiary-color);
	width: 100%;
	margin-top: 0px;
	margin-bottom: 15px;
}

hr.line3 {
	border: 1px solid var(--tertiary-color);
	width: 85%;
	margin-top: 15px;
	margin-bottom: 5px;
}

#mainSection {
	margin: auto;
}

#carvingMain {
	width: 100%;
}

#portraitSquare {
	width: 100%;
	margin: auto;
	display: block;
}

#portraitLandscape {
	width: 90%;
	margin: auto;
	display: block;
}

#textColo {
	margin: auto;
	display: block;
	margin-top: 0em;
}

#headText {
	color: var(--accent-color);
	font-style: italic;
	font-size: 3.5vw;
	margin: auto;
	display: block;
}

#digitalmainText {
	color: var(--accent-color);
	font-size: 2.2vw;
	margin: auto;
	display: flex;
}

#subText {
	color: var(--accent-color);
	font-size: 1.4vw;
	margin: auto;
	display: block;
}

#subText em {
	color: var(--tertiary-color);
	font-style: normal;
}

#processImgs {
	width: 100%;
}

.processRow {
	margin-top: 1em;
}

#showBtn {
	border: 1px solid var(--accent-color);
	padding-left: 20px;
	padding-right: 20px;
	background: none;
	color: var(--accent-color);
	font-size: 1.5vw;
	transition: all ease 1s;
}

#showBtn:hover {
	box-shadow: inset 500px 0 0 0 var(--tertiary-color);
}

#showBtn:focus {
	outline: none;
	text-decoration: none;
}

#showBtn:active {
	outline: none;
	text-decoration: none;
}

.digitalSpacing {
	margin-bottom: 1em !important;
}

/* LOGO DESIGN PAGE */
/* Description Box */

.midcolor {
	background-color: var(--secondary-color);
	width: 90%;
	margin: auto;
	display: block;
	padding: 50px;
}

#headerRow {
	margin: auto;
	display: flex;
}

#logoheaderText {
	color: var(--accent-color);
	font-size: 3.7vw;
	margin: auto;
	display: inline;
}

#logoheaderText em {
	color: var(--tertiary-color);
	font-style: normal;
}

#descripRow {
	margin: auto;
	display: block;
}

.showSingle {
	cursor: pointer;
}

#dumbBtn:hover {
	text-decoration: none;
}

/* Images */

#finalLogo {
	width: 90%;
	margin: auto;
	margin-bottom: 3em;
	display: block;
}

#waifuColor {
	width: 90%;
	margin: auto;
	display: block;
	margin-bottom: 3em;
}

#waifulogo1 {
	width: 50%;
	margin: auto;
	display: block;
}
#waifulogo2 {
	width: 70%;
	margin: auto;
	display: block;
}

#apprenticeColor {
	width: 60%;
	margin: auto;
	display: block;
	margin-bottom: 3em;
}

#applogo1 {
	width: 60%;
	margin: auto;
	display: block;
}

#applogo2 {
	width: 40%;
	margin: auto;
	display: block;
	margin-bottom: 1em;
}

#colorpalette {
		margin-bottom: 3em;
	}

/* RESUME */
/* Resume */
#resumeFrame {
	margin: auto;
	display: block;
}

#resumePdf {
	margin: auto;
	display: block;
	width: 100%;
}

#midcolorResume {
	background-color: var(--secondary-color);
	width: 90%;
	margin: auto;
	display: block;
	padding: 3em;
}

/* VIDEO EDITING */
#midcolorVideo {
	background-color: var(--secondary-color);
	width: 90%;
	margin: auto;
	display: block;
	padding: 3em;
}

#videoRow {
	margin-top: 2em;
}

/* Slideshow Videos */

#orphiriaVid {
	margin: auto;
	display: block;
	padding: 2em;
	padding-bottom: 3em;
}

#orphiriaVid:focus {
	outline: none;
}

#videoOutline:focus {
	outline: none;
}

#caroImg {
	width: 50%;
	display: block;
	margin: auto;
}
#caroImgWicked {
	width: 32%;
	display: block;
	margin: auto;
}

#caroImgRaven {
	width: 52.5%;
	display: block;
	margin: auto;
}

#caroImgCarving {
	width: 78%;
	display: block;
	margin: auto;
}

#caroImgLeshen {
	width: 31.25%;
	display: block;
	margin: auto;
}

/* WEB DESIGN */
/* Description Box */
#styleImg {
	margin: auto;
	display: block;
}

#styleScape {
	width: 100%;
	margin: auto;
	display: block;
}

#webImgs {
	width: 95%;
	margin: auto;
	display: block;
	margin-bottom: 1em;
}


/* FOOTER */
#mycontact {
	background-color: var(--accent-color);
	padding-top: 1em;
	padding-bottom: .5em;
	margin: auto;
	display: block;
}

#footWrapper {
	border: 3px solid var(--tertiary-color);
	margin: auto;
	display: flex;
	width: 90%;
	padding-top: 1em;
}


#footText {
	color: var(--tertiary-color);
	font-size: 2vw;
}


#logoImg {
	width: 60%;
	margin: auto;
	display: block;
	padding-bottom: .5em;
}

#linkedLogo {
	width: 20%;
	margin: auto;
	display: flex;
}

#logoText {
	color: var(--tertiary-color);
	font-size: 1.5vw;
	text-align: center;
	margin: auto;
	display: block;
	padding-top: .5em;
}

#footdiv {
	margin: auto;
	display: inline-block;
}