:root {
	--primary-color: #D8D5D0;
	--secondary-color: #D0C2A7;
	--tertiary-color: #6A766C;
	--accent-color: #2F3130;
}

html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
	font-family: halyard-display, sans-serif;
	font-style: normal;
}

a {
    text-decoration: none;
    transition: .5s ease;
}

a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
}

/* HEADER / NAVIGATION */
header {
    background-color: var(--accent-color);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    padding: 0 300px 0 300px;
}

header a, header h1 {
    font-size: 1.5vw;
    margin-bottom: 0;
}


header h1 a {
	font-weight: 500px;
    letter-spacing: .1rem;
    color: var(--secondary-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    margin-top: 1vh;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
	list-style: none;
    margin-bottom: 0;
}

header nav ul li a {
    color: var(--secondary-color);
    padding: 0 1vw;
}

/* FOOTER */
footer {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 60px 10px 60px;
}

footer h3 {
    color: var(--secondary-color);
    font-size: 36px;
}

footer a {
    color: var(--primary-color);
    font-size: 24px;
}

footer a:hover {
	color: var(--accent-color);
}

/* BODY - GENERAL */
section {
	position: relative;
	display: flex;
    flex-direction: row;
    margin: 0 300px 50px 300px;
}

img {
	width: 100%;
}

section article {
    background-color: var(--primary-color);
    position: absolute;
    padding: 10px 30px 20px 30px;
    margin-top: 50px;
    flex: 1;
    top: 0;
    z-index: 9999;
    max-width: 60%;
}

/* INDEX.HTML HERO SECTION */
.hero {
    background-color: var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 50px 0 !important;
    padding: 25px 300px 50px 300px;
}

.hero h1 {
    color: var(--secondary-color);
    font-size: 64px;
    width: 100%;
}

.hero h2 {
    color: var(--secondary-color);
    font-size: 2.3vw;
    width: 90%;
}

.hero h4 {
    color: var(--tertiary-color);
    font-size: 1.3vw;
    width: 80%;
    margin-bottom: 20px;
}

/* INDEX.HTML */

.index {
    background-color: var(--secondary-color);
}


section .right {
    right: 0;
    text-align: right;
    padding: 10px 30px 20px 30px;
}

.index a {
    font-size: 56px;
    color: var(--tertiary-color);
    text-decoration: none;
    width: 100%;
    height: 700px;
}

section p {
    font-size: 18px;
    color: var(--accent-color)
}

.index img,
.index video {
    height: 700px;
    object-fit: cover;
    opacity: .7;
    transition: .6s ease;
}

.index img:hover,
.index video:hover {
    opacity: 1;
}

/* ABOUT - HOMEPAGE */
#about {
    justify-content: space-around;
    margin: 0 300px 10px 300; 
}

#about a {
    color: var(--accent-color);
    font-size: 48px;
    height: auto;
}

#about a:hover {
    color: var(--secondary-color);
}

/* BRANDDESIGN.HTML */
.main-title,
.show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-title {
    background-color: var(--accent-color) !important;
    background-color: var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 50px 0 !important;
    padding: 25px 100px 0 100px;
}

.main-title h2 {
    color: var(--secondary-color);
    font-size: 4vw;
    letter-spacing: .3rem;
    margin: 64px;
    padding-bottom: 60px;
}

.main-title div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.main-title button {
    justify-content: center;
    margin: 0 10px;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border-radius: 10px 10px 0 0;
}

.main-title button:active {
    outline: none;
}

.main-title div .active {
    color: var(--accent-color);
    background-color: var(--primary-color);
    outline: none;
}

.hide {
    display: none !important;
}

.show img {
    opacity: 1;
    width: 100%;
    height: 100%;
    display: block;
}

.show p {
    font-size: 36px;
    padding: 35px 0;
    color: var(--tertiary-color);
}

.show p a {
    color: var(--accent-color);
    font-size: 36px;
    transition: .5s ease;
}

.show p a:hover {
    color: var(--secondary-color);
}

/* ART.HTML */
section h3 {
    font-size: 48px;
    padding: 50px 0;
    width: 100%;
    text-align: center;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.preview img {
    width: 30%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
    padding-bottom: 60px;
}

/* WEBDEVELOPMENT.HTML */
.links {
    display: flex;
    justify-content: end;
}

.links .subtext-links a {
    color: var(--tertiary-color);
    font-size: 1vw;
}

.subtext-links {
    margin-right: 1vw;
    transition: .5s;
}

.links .subtext-links a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.right .subtext-links {
    margin-right: 0;
    margin-left: 1vw;
}

.top {
    top: 0;
}

/* ABOUTME.HTML */
.about-main {
    justify-content: space-between;
    margin-top: 30px;
}

.gallery {
    justify-content: space-between;
}

.imageDiv {
    background-color: var(--secondary-color);
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.imageDiv img {
    width: 100%;
    height: 100%;
    opacity: .7;
    object-fit: cover;
    transition: .5s ease;
}

.imageDiv img:hover {
    opacity: 1;
}

.about-text p {
    padding-left: 40px;
    font-size: 1vw;
    color: var(--accent-color);
}

.center-align {
    text-align: center;
    flex-direction: column;
    padding: 0;
}

.about-main .imageDiv {
    width: 100%;
    flex-grow: 3;
}

.about-main .about-text {
    width: 100%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1000px) {
    /* Navigation Bar */
    header {
        padding: 0 10vw;
    }

    header a, header h1 {
        font-size: 2.6vw;
    }

    /* Hero Section */
    .hero {
        padding: 25px 10vw 50px 10vw;
    }

    .hero h2 {
        font-size: 4vw;
    }

    .hero h4 {
        font-size: 2.5vw;
    }

    /* Main Index Section */
    .index {
        margin: 2.6vw 50px 2.6vw;
    }

    .index, .index a, .index img {
        height: 400px;
    }

    /* Footer */
    footer {
        padding: 1vw 2.6vw;
    }

    footer a, footer h3 {
        font-size: 2.2vw;
        margin-bottom: 0;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* Navigation Bar */
    header a, header h1 {
        font-size: 3vw;
    }

    /* Main Index Section */
    .index .right a, .index article a {
        font-size: 6vw;
    }

    .index, .index a, .index img {
        height: 400px;
    }

    /* Footer */
    footer {
        justify-content: space-between;
    }

    footer a, footer h3 {
        font-size: 2.4vw;
        margin-bottom: 0;
    }
    
}      

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* Navigation Bar */
    header {
        padding: 0vw 6vw;
    }

    header a, header h1 {
        font-size: 3vw;
    }

    header nav ul li a {
        padding: 0vw 2vw;
    }

    /* Hero Section */
    .hero {
        padding: 25px 6vw;
        margin: 0px 0px 25px 0px !important;
    }

    .hero h1 {
        font-size: 7vw;
    }

    .hero h2 {
        font-size: 5vw;
    }

    .hero h4 {
        font-size: 3.5vw;
        width: 90%;
    }

    /* Main Index Section */
    .index {
        margin: 0 2.6vw 25px 2.6vw;
    }

    .index, .index a, .index img {
        height: 300px;
    }

    section .right {
        width: 55%;
    }

    section article {
        width: 55%;
    }

    .index article {
        margin-top: 20px;
    }

    .index article a, .index .right a {
        font-size: 4.5vw;
    }

    .index article p, .index .right p {
        font-size: 2.8vw;
        margin-bottom: 0;
    }

    .footer {
        padding: 0 6vw;
    }

}