/* My Colors */
:root {
    --pale: #EFE8E0;
    --accent: #C8B6AA;
}

/* General Styling */
html, body {
    height: 100%;
}

body {
    margin: 0px 100px;
    padding: 0;
    background: var(--pale);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

main {
    margin: 100px 150px;
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

/* My Adobe Fonts */
.hText {
    color: black;
    font-family: halyard-text, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.hDisplay {
    color: black;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.lg {
    font-size: 64px;
}

.sm {
    font-size: 26px;
}

.md {
    font-size: 36px;
}

.sm-flex {
    font-size: 1.4vw;
}

.prj-sub {
    font-size: 22px;
}

.proj-link {
    font-size: 18px;
}

.accent {
    color: var(--accent);
}

/* Navigation and Footer */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    flex-shrink: 0;
}

nav ul, footer ul {
    display: flex;
}

nav ul li, footer ul li {
    margin-left: 70px;
    transition: .5s ease;
}

nav ul li:hover, footer ul li:hover {
    cursor: pointer;
    color: var(--accent);
}

footer ul {
    flex-direction: row-reverse;
}

/* About */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about div:first-of-type {
    margin-right: 100px;
}

.profile {
    width: 450px;
}

.about h2, .about h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.about h3 {
    transition: 1s;
}

.about h3:hover {
    color: var(--accent);
}

/* Hover Image Transitions */
.hover {
    position: relative;
    z-index: 10;
}

.colored {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease;
    opacity: 75%;
}

.colored:hover {
    opacity: 20%;
}

/* Portfolio and Projects */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio .hover {
    margin-bottom: 15px;
}

.project, .portfolio .hover {
    width: 442px;
    height: 249px;
}

.project-hover {
    z-index: 10;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    right: 0;
    opacity: 0%;
}

.project-hover h1, .project-hover h2, .project-hover ul {
    margin: 0px;
}

.hover:hover .inner-img {
    opacity: 5%;
}

.hover:hover .inner-div {
    opacity: 100%;
}

.hover .inner-div .prj-link {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hover .inner-div .prj-link li {
    transition: .5s ease;
}

.hover .inner-div .prj-link li:hover {
    font-size: 24px;
}

/* Resume */
.resume div {
    display: flex;
    justify-content: space-between;
}

.resume button {
    margin-top: 30px;
}

.resume h1, .resume h2, .resume ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.resume h1 {
    margin-bottom: 20px;
}

.resume li span {
    color: var(--pale);
    transition: .5s ease;
}
.resume li:hover span {
    color: black;
}

.tech {
    margin-left: 30px;
}

/* Contact */
.contact form div {
    display: flex;
    flex-direction: column;
}

.contact h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.contact form input, .contact form textarea {
    border: 2px solid var(--accent);
    padding: 0 5px;
}

.contact form p, .contact p {
    margin: 0;
}

.contact form .limit {
    margin-left: auto;
}

button, button a {
    background-color: var(--accent);
    border: none;
    color: var(--pale) !important;
    padding: 10px 20px;
    transition: .5s ease;
}

button:hover, button a:hover {
    color: black !important;
    cursor: pointer;
}

/* MOBILE RESPONSIVENESS */
/* Wider screens up to 2560 */
@media screen and (min-width: 2270px) {
    .project, .portfolio .hover {
        width: 550px;
        height: 309px;
    }
}

/* Smaller screen changes */
@media screen and (max-width: 1850px) {
    main {
        margin: 50px 75px
    }
}

@media screen and (max-width: 1700px) {
    main {
        margin: 25px 45px
    }

    .resume {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        margin: 0px 40px;
    }

    main {
        margin: 10px 20px
    }

    nav ul li, footer ul li {
        margin-left: 50px;
    }

    .profile {
        width: 350px;
    }

    .lg {
        font-size: 54px;
    }

    .md {
        font-size: 30px;
    }

    .sm {
        font-size: 24px;
    }

    .sm-flex {
        font-size: 1.6vw;
    }

    .project, .portfolio .hover {
        width: 768px;
        height: 432px;
    }
}

@media screen and (max-width: 780px) {
    .profile {
        width: 200px;
    }

    .about div:first-of-type {
        margin-right: 40px;
    }

    .lg {
        font-size: 36px;
    }

    .md {
        font-size: 24px;
    }

    .sm {
        font-size: 18px;
    }

    .sm-flex {
        font-size: 1.8vw;
    }

    .project, .portfolio .hover {
        width: 550px;
        height: 309px;
    }
}

@media screen and (max-width: 575px) {
    body {
        margin: 0px 20px;
    }

    .about {
        flex-direction: column;
        justify-content: center;
    }

    .hover div:first-of-type {
        margin-right: 0px;
    }

    .about div {
        text-align: center;
    }

    .about div h2 {
        font-size: 18px;
    }

    .sm {
        font-size: 12px;
    }

    .sm-flex {
        font-size: 16px;
    }

    .resume div {
        flex-wrap: wrap;
    }

    .resume ul li {
        font-size: 16px;
    }

    nav ul li, footer ul li {
        margin-left: 20px;
    }

    .project, .portfolio .hover {
        width: 500px;
        height: 281px;
    }
}

@media screen and (max-width: 400px) {
    .about div:first-of-type {
        margin-right: 0px;
    }
    
    .profile {
        margin-bottom: 15px;
    }

    .project, .portfolio .hover {
        width: 300px;
        height: 169px;
    }
}