/* My Colors */
:root {
    --pale: #EFE8E0;
    --accent: #C8B6AA;
}

/* General Styling */
html, body {
    height: 100%;
}

body {
    margin: 0px 100px;
    padding: 0;
    background: var(--pale);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

main {
    margin: 100px 150px;
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

/* My Adobe Fonts */
.hText {
    color: black;
    font-family: halyard-text, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.hDisplay {
    color: black;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.lg {
    font-size: 64px;
}

.sm {
    font-size: 26px;
}

.md {
    font-size: 36px;
}

.sm-flex {
    font-size: 1.4vw;
}

.prj-sub {
    font-size: 22px;
}

.proj-link {
    font-size: 18px;
}

.accent {
    color: var(--accent);
}

/* Navigation and Footer */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    flex-shrink: 0;
}

nav ul, footer ul {
    display: flex;
}

nav ul li, footer ul li {
    margin-left: 70px;
    transition: .5s ease;
}

nav ul li:hover, footer ul li:hover {
    cursor: pointer;
    color: var(--accent);
}

footer ul {
    flex-direction: row-reverse;
}

/* About */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about div:first-of-type {
    margin-right: 100px;
}

.profile {
    width: 450px;
}

.about h2, .about h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.about h3 {
    transition: 1s;
}

.about h3:hover {
    color: var(--accent);
}

/* Hover Image Transitions */
.hover {
    position: relative;
    z-index: 10;
}

.colored {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease;
    opacity: 75%;
}

.colored:hover {
    opacity: 20%;
}

/* Portfolio and Projects */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio .hover {
    margin-bottom: 15px;
}

.project, .portfolio .hover {
    width: 442px;
    height: 249px;
}

.project-hover {
    z-index: 10;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    right: 0;
    opacity: 0%;
}

.project-hover h1, .project-hover h2, .project-hover ul {
    margin: 0px;
}

.hover:hover .inner-img {
    opacity: 5%;
}

.hover:hover .inner-div {
    opacity: 100%;
}

.hover .inner-div .prj-link {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hover .inner-div .prj-link li {
    transition: .5s ease;
}

.hover .inner-div .prj-link li:hover {
    font-size: 24px;
}

/* Resume */
.resume div {
    display: flex;
    justify-content: space-between;
}

.resume h1, .resume h2, .resume ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.resume h1 {
    margin-bottom: 20px;
}

.resume li span {
    color: var(--pale);
    transition: .5s ease;
}
.resume li:hover span {
    color: black;
}

.tech {
    margin-left: 30px;
}

/* Contact */
.contact form div {
    display: flex;
    flex-direction: column;
}

.contact h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.contact form input, .contact form textarea {
    border: 2px solid var(--accent);
    padding: 0 5px;
}

.contact form p, .contact p {
    margin: 0;
}

.contact form .limit {
    margin-left: auto;
}

button {
    background-color: var(--accent);
    border: none;
    color: white !important;
    padding: 0px 30px;
}
